---
// Image par défaut pour les thumbnails manquantes
---

<script>
  // Redirection vers image par défaut
  window.location.replace('/images/thumbnails/default-thumbnail.svg');
</script>

<meta http-equiv="refresh" content="0;url=/images/thumbnails/default-thumbnail.svg">

<!DOCTYPE html>
<html>
<head>
  <title>Image non trouvée</title>
</head>
<body>
  <p>Redirection vers <a href="/images/thumbnails/default-thumbnail.svg">image par défaut</a>...</p>
</body>
</html>
