---
// Redirection automatique vers la page des prix Wegovy
---

<script>
  window.location.replace('/collections/glp1-cout/wegovy-prix');
</script>

<meta http-equiv="refresh" content="0;url=/collections/glp1-cout/wegovy-prix">

<!DOCTYPE html>
<html>
<head>
  <title>Redirection - Prix Wegovy</title>
</head>
<body>
  <p>Redirection vers <a href="/collections/glp1-cout/wegovy-prix">Prix Wegovy</a>...</p>
</body>
</html>
