---
// Redirection automatique vers la page témoignages Sophie
---

<script>
  window.location.replace('/temoignages/temoignage-sophie-transformation-glp1');
</script>

<meta http-equiv="refresh" content="0;url=/temoignages/temoignage-sophie-transformation-glp1">

<!DOCTYPE html>
<html>
<head>
  <title>Redirection - Témoignage Sophie</title>
</head>
<body>
  <p>Redirection vers <a href="/temoignages/temoignage-sophie-transformation-glp1">Témoignage Sophie</a>...</p>
</body>
</html>
