---
// Redirection automatique vers la page des effets secondaires GLP-1
---

<script>
  window.location.replace('/collections/effets-secondaires-glp1');
</script>

<meta http-equiv="refresh" content="0;url=/collections/effets-secondaires-glp1">

<!DOCTYPE html>
<html>
<head>
  <title>Redirection - Effets Secondaires GLP-1</title>
</head>
<body>
  <p>Redirection vers <a href="/collections/effets-secondaires-glp1">Effets Secondaires GLP-1</a>...</p>
</body>
</html>
